a {
    text-decoration: none;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 2vw;

    background-color: rgb(28,30,50);
}

.footer_right {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 5vw;

    font-family: 'Figtree';
    color: white;
    text-align: left;

    list-style-type: none;
}


.footericon {
    margin: 1vw;
    margin-top: 5vw;
    width: 5%;
}