.featuresList > li {
    text-align: left;
    font-size: 1.5vw;
    line-height: 2vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
}

.featuresList > h2 {
    text-align: left;
    font-size: 2vw;
}